.filters{
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}
.filters button{
    position: absolute;
    cursor: pointer;
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    /* center vertically and horixontally */
    right: 30px;
    top: 11px;
    /* end */
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    align-items: center;

}
.filters button:hover{
    opacity: 0.9;
}
.filters .locations, .filters .amenities{
    cursor: pointer;
    float: left;
}
.filters .locations{
    height: 100%;
    width: 25%;
    border-right: 1px solid #DDDDDD;
}
.filters .amenities{
    height: 100%;
    width: 25%;
}
.filters .locations h3, .filters .amenities h3{
    font-weight: 600;
    font-size: 16px;
    padding-left: 40px;
    padding-top: 15px;
    margin: 0;
}
.filters .locations h4, .filters .amenities h4{
    font-weight: 400;
    font-size: 14px;
    padding-left: 40px;
    margin: 0;
}
.filters .locations ul{
	list-style: none;
}
.filters .amenities ul{
	list-style: none;
    padding-top: 32px;
}
.filters .locations:hover ul, .popover:hover{
	visibility: visible;
    display: block;
}
.filters .amenities:hover ul, .popover:hover{
	visibility: visible;
	display: block;
}
.popover{
	margin-top: 21px;
	padding-bottom: 30px;
    padding-top: 20px;
	padding-left: 30px;
	visibility: visible;
	display: none;
	background-color: #FAFAFA;
	border: 1px solid #DDDDDD;
	border-radius: 4px;
	height: auto;
}
.popover li{
	margin: 5px 0 0 7px;
}
.popover h2{
	font-size: 16px;
	padding: 10px 0 0 0;
	margin: 0;
}
