.places{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.places h1{
    font-size: 30px;
    text-align: left;
    width: 100%;
}
.places article{
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
}
.places h2{
	font-size: 30px;
	text-align: center;
	padding: 0;
	margin: 0;
}